
// $color: red;
// $colorgreen: green;
// $colorblue: blue;

body {
    max-width: 960px;
    width: 100%; 
    margin: auto; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div  {
    display: block;  
    .box1,
    .box2,
    .box3  {
        width: 50px;
        height: 100px;
        display: inline-block;
    }
}

$colors: 
    red #FF0000,
    green #00FF00,
    blue #0000FF;

@each $color in $colors {

    @for $i from 1 through 4 {

        .darken-#{nth($color,1)}-$i {
            background-color: darken(nth($color,2), $i*10%);
        }

        .lighten-#{nth($color,1)}-$i {
            background-color: lighten(nth($color,2), $i*10%);
        }

    }
        
}


// @mixin color ($color) {

//     @for $i from 1 through 4 {
//         @if $i % 10 == 0 {
//             $percentage: $i*1%;

//             .darken-#{$i} {
//             background-color: darken($color, $percentage);
//             }

//             .lighten-#{$i} {
//             background-color: lighten($color, $percentage);
//             }
//         }
//     }
// }
